## **PANDA(Series) Exercise**
---

In [84]:
# importing modules
import numpy as np
import pandas as pd
# checking the version 
print(pd.__version__)

2.0.0

### **Series Creation**

#### Q1) Create an empty pandas Series

In [85]:
X = pd.Series()
X

Series([], dtype: object)

#### Q2) Given the X python list convert it to an Y pandas Series

In [86]:
Y = [1,2,3,4,5,6]
X = pd.Series(Y)
X

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

#### Q3) Given the X pandas Series, name it 'My letters'

In [87]:
X = pd.Series(["R","I","D","D","H","I"])
X.name = "My Letters"
X

0    R
1    I
2    D
3    D
4    H
5    I
Name: My Letters, dtype: object

#### Q4) Given the X pandas Series, show its values

In [88]:
# X decleared in the previous question
X.values

array(['R', 'I', 'D', 'D', 'H', 'I'], dtype=object)

### **Series indexation**

#### Q5) Assign index names to the given X pandas Series

In [89]:
X.index = [
    "l1",
    "l2",
    "l3",
    "l4",
    "l5",
    "l6"
]
X

l1    R
l2    I
l3    D
l4    D
l5    H
l6    I
Name: My Letters, dtype: object

#### Q6) Given the X pandas Series, show its first element

In [90]:
X.iloc[0]
# X["l1"]

'R'

#### Q7) Given the X pandas Series, show its last element

In [91]:
X[-1]
# X.iloc[-1]
# X["l6"]

'I'

#### Q8) Given the X pandas Series, show all middle elements

In [92]:
X.iloc[1:-1]

l2    I
l3    D
l4    D
l5    H
Name: My Letters, dtype: object

#### Q9) Given the X pandas Series, show the elements in reverse position

In [93]:
X[::-1]

l6    I
l5    H
l4    D
l3    D
l2    I
l1    R
Name: My Letters, dtype: object

#### Q10) Given the X pandas Series, show the first and last elements

In [94]:
# this use the concept of numpy to get only the value of the mentioned index
X[[0,-1]]

l1    R
l6    I
Name: My Letters, dtype: object

### **Series manipulation**

#### Q11) Convert the given integer pandas Series to float

In [95]:
Y = pd.Series([4,8,23,54,71,12,69])
Y

0     4
1     8
2    23
3    54
4    71
5    12
6    69
dtype: int64

In [96]:
pd.Series(Y,dtype=float)

0     4.0
1     8.0
2    23.0
3    54.0
4    71.0
5    12.0
6    69.0
dtype: float64

#### Q12) Reverse the given pandas Series (first element becomes last)

In [97]:
Y[::-1]

6    69
5    12
4    71
3    54
2    23
1     8
0     4
dtype: int64

#### Q13) Order (sort) the given pandas Series

In [98]:
# default ascending
Y = Y.sort_values()
Y

0     4
1     8
5    12
2    23
3    54
6    69
4    71
dtype: int64

In [99]:
# default descending
Y = Y.sort_values(ascending = False)
Y

4    71
6    69
3    54
2    23
5    12
1     8
0     4
dtype: int64

#### Q14) Given the X pandas Series, set the fifth element equal to 10

In [100]:
Y = pd.Series([1,2,3,4,5,6,7,8,9])
Y

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [101]:
Y[5] = 10
Y

0     1
1     2
2     3
3     4
4     5
5    10
6     7
7     8
8     9
dtype: int64

#### Q15) Given the X pandas Series, change all the middle elements to 0

In [102]:
Y[1:-1] = 0
Y

0    1
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    9
dtype: int64

#### Q16) Given the X pandas Series, add 5 to every element

In [103]:
Y = pd.Series([1,2,3,4,5,6])
Y = Y + 5
Y

0     6
1     7
2     8
3     9
4    10
5    11
dtype: int64

### **Series boolean arrays (also called masks)**

#### Q17) Given the X pandas Series, make a mask showing negative elements

In [104]:
X = pd.Series([1,8,56,-4,-59,23,-2])
X

0     1
1     8
2    56
3    -4
4   -59
5    23
6    -2
dtype: int64

In [105]:
mask = X < 0
mask

0    False
1    False
2    False
3     True
4     True
5    False
6     True
dtype: bool

#### Q18) Given the X pandas Series, get the negative elements

In [106]:
mask = X < 0
X[mask]

3    -4
4   -59
6    -2
dtype: int64

#### Q19) Given the X pandas Series, get numbers higher than 5

In [107]:
mask = X > 5
X[mask]

1     8
2    56
5    23
dtype: int64

#### Q20) Given the X pandas Series, get numbers higher than the elements mean

In [108]:
mask = X > X.mean()
X[mask]

1     8
2    56
5    23
dtype: int64

#### Q21) Given the X pandas Series, get numbers equal to 2 or 10

In [109]:
Y = pd.Series([5,7,2,3,10,96,4])
Y

0     5
1     7
2     2
3     3
4    10
5    96
6     4
dtype: int64

In [110]:
mask = ( Y == 2 ) | ( Y == 10 )
Y[mask]

2     2
4    10
dtype: int64

### **Logic functions**

#### Q22) Given the X pandas Series, return True if none of its elements is zero

In [111]:
Z = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
# .all() returns true if all of its values are non zero and false when atleast one is 0
Z.all()

False

#### Q23) Given the X pandas Series, return True if any of its elements is zero

In [112]:
# .any() returns true if atleast one of its value is 0 and false if none is 0
Z.any()

True

### **Summary statistics**

#### Q24) Given the X pandas Series, show the sum of its elements

In [113]:
Y = pd.Series([1,2,3,4,5,6])
Y.sum()

21

#### Q25) Given the X pandas Series, show the mean value of its elements

In [114]:
Y.mean()

3.5

#### Q26) Given the X pandas Series, show the max value of its elements

In [115]:
Y.max()

6

### **END PRACTICE**